.team-detail-view {
  /* display: flex; */
  flex-direction: column;
  /* padding: 10px; */
  height: 200px;
  width: 100%;
  align-items: center;
}

.team-location-info {
  display: flex;
}

.team-logo {
  height: 70px;
}
